<div data-controller="storyroom-subscription"
     data-storyroom-subscription-storyroom-id-value="<%= @storyroom.id %>">
  <h1>Hello you are in channel: <%= @storyroom.id %></h1>
  <p>story_id is <%= @story %></p>
</div>
