<div class="container">
  <div class="title">
    <hr class="line">
    <h1>E X   QUI S    IT E</h1>
    <h1>CORPS.</h1>
    <hr class="line">
    <button class="btn btn-danger mt-3 ms-5 start">Start Game</button>
  </div>

  <div class="home-right mt-5">
    <%= image_tag("dalle-cup", class:'front-img-cup') %>
    <%= image_tag("dalle-wine", class:'front-img-wine') %>
    <div class="description">
      <h2 class="mb-3">Write freely, together</h2>
      <ol>
        <li>Start Game</li>
        <li>Invite Friends</li>
        <li>Begin Writing</li>
      </ol>
    </div>
  </div>
</div>
